

body {
  font-family: "soleil";
  font-size: 50px;
  font-weight: 400;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 7%;
  color: white;
  background-color: #1304d0;}

.main-container {
  padding-left: 5%;
  max-width: 950px;
  margin: 0;}

a {
  text-decoration: none;
  border-bottom: 2px solid #fb3fd2;
  color: white;}

a:hover, a:focus {
  color: pink;
  border-bottom: 2px solid #fb3fd2;
  text-decoration: none;}

p {
  margin-bottom: 1.5em;
  line-height: 1.4em;}

.self-love {
  color: #f3ade6;}

.aside {
  font-size: 20px;}

.smaller {
  font-size: 35px;}

@media only screen and (max-device-width: 480px) {

  body{
  font-size: 30px}
  
  .smaller {
  font-size: 20px;}
	
}


/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

body{
font-size: 12px;
}

}*/