body {
  font-family: "soleil";
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  margin-top: 4%;
  margin-bottom: 7%;
  color: #333;
  background-color: white;}

.main-container {
  padding-left: 5%;
  max-width: 950px;
  margin: 0;}

h1, h2 {
  line-height: 1.4em;
  font-size: 40px;
  font-weight: bold;}
  
  h1 {font-size: 43px;}
  
  h2 {margin-top: 70px;}

a {
  text-decoration: none;
  border-bottom: 2px solid blue;
  color: #1304d0;}

a:hover, a:focus {
  color: pink;
  border-bottom: 2px solid #fb3fd2;
  text-decoration: none;}

p {
	width: 400px;
  margin-bottom: 1.5em;
  line-height: 1.4em;}

  .big {font-size: 30px;
	  width: 800px;}
	  
.self-love {
  color: #f3ade6;}

@media only screen and (max-device-width: 480px) {

  body{
  font-size: 30px}
  
  /*.smaller {
  font-size: 20px;}*/
	
}

/* Portrait and Landscape */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

body{
font-size: 12px;
}

}*/